<!-- Section: works -->
<section id="announ" class="home-section color-dark text-center bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Duyurular</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" >
                <div class="wow bounceInUp" data-wow-delay="0.4s">
                    <div id="owl-works" class="owl-carousel">
                        <div class="item"><a href="" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg"><img src="{{ asset("Valera/img/works/1.jpg") }}" class="img-responsive" alt="img">dasdasdasdasdasd</a></div>
                        <div class="item"><a href="" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/2@2x.jpg"><img src="{{ asset('Valera/img/logo1.png') }}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="img/works/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/3@2x.jpg"><img src="{{ asset('Valera/img/logo1.png') }}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="img/works/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/4@2x.jpg"><img src="{{ asset('Valera/img/logo1.png') }}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="img/works/5.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/5@2x.jpg"><img src="{{ asset('Valera/img/logo1.png') }}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="img/works/6.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/6@2x.jpg"><img src="{{ asset('Valera/img/logo1.png') }}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="img/works/7.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/7@2x.jpg"><img src="{{ asset('Valera/img/logo1.png') }}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="img/works/8.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/8@2x.jpg"><img src="{{ asset('Valera/img/logo1.png') }}" class="img-responsive " alt="img"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /Section: works -->